.card {
  margin: 20px auto; /* Auto margin to center the card */
  padding: 20px;
  max-width: 400px; /* Set a maximum width for the card */
  background-color: #e7ece0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(131, 3, 3, 0.1);
  text-align: left; /* Center align the content */
}

.card h4 {
  margin: 0;
  padding: 5px 0;
}

.card p {
  margin: 0;
  padding: 5px 0;
  color: #3e3b3b;
}

.card button {
  margin-top: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center align the cards in the container */
  padding: 0;
  list-style-type: none;
}

.card .MuiButton-root {
  margin-top: auto;
  display: inline-block; /* Display buttons inline */
}    